body {
    margin: 0; 
  
}
nav {
    background-color: hotpink; 
    color: black; 
    padding: 30px 0; 
  
}
nav .brandLogo{
    font-size: 1.25rem; 
    font-family: sans-serif;
    padding-left: 10%;
}

nav ul li{
    display: inline;
    padding-right: 20px; 

    
}
nav .firstContainer.brandAdd{
    size: 2rem; 
    
}
 nav ul{
  
     display: inline; 
     padding-right: right; 
     
 }
 .firstContainer{
     width: 100%; 
     max-width: 100%; 
     margin: 0; 
     position: fixed;   
 }
 pageHeader {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg)
    

    }
pageHeader .row{
    text-align: center; 
    height: 500px;
    margin: 0; 
    font-size: 3rem; 
    font-family: sans-serif;
}
.imagePhone {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg)
    
}